.section-01 {
  width: 100%;
  height: 100vh;
  background-color: orange;
  background: url('~@/assets/images/bg/pc-bg.png') no-repeat;

  @include tablet {
    background: url('~@/assets/images/bg/tab-bg.png') no-repeat;
  }

  @include mobile {
    background: url('~@/assets/images/bg/mo-bg.png') no-repeat;
  }
}

.intro-sec {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  background-color: #000;

  .intro-bg {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
